<%- include ('layout/head') %>
	<%- include ('layout/header') %>


		<!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
		<div class="theme-inner-banner">
			<div class="container">
				<h2 class="intro-title text-center">Our Pricing</h2>
				<ul class="page-breadcrumb style-none d-flex justify-content-center">
					<li><a href="index.html">Home</a></li>
					<li class="current-page">Pricing</li>
				</ul>
			</div>
			<img src="/static/site/images/shape/shape_38.svg" alt="" class="shapes shape-one">
			<img src="/static/site/images/shape/shape_39.svg" alt="" class="shapes shape-two">
		</div> <!-- /.theme-inner-banner -->




		<!--
			=====================================================
				Pricing Section One
			=====================================================
			-->
		<div class="pricing-section-one mt-130 lg-mt-110">
			<div class="container" data-aos="fade-up">
				<div class="row">
					<div class="col-xxl-7 col-xl-8 col-lg-7 col-md-9 m-auto">
						<div class="title-style-one text-center">
							<h2 class="main-title">Giúp đỡ chúng tôi bằng cách donate</h2>
						</div> <!-- /.title-style-one -->
					</div>
				</div>

				<ul class="nav nav-tabs justify-content-center pricing-nav-one" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#month" type="button"
							role="tab">Donate</button>
					</li>
				</ul>
			</div> <!-- /.container -->

			<div class="pricing-table-area-one" data-aos="fade-up" data-aos-delay="100">
				<div class="container">
					<div class="tab-content">
						<div class="tab-pane active show" id="month">
							<div class="row gx-xxl-5">
								<div class="col-md-6">
									<div class="pr-table-wrapper active md-mb-30">
										<div class="pack-name">VN_Pay</div>
										<div class="pack-details">Cảm Ơn bạn đã quan tâm</span></div>
										<div class="top-banner d-sm-flex justify-content-center align-items-center">
											<div class="price"><sup>$</sup>20</div>
											
										</div> <!-- /.top-banner -->
										<ul class="pr-feature style-none">
											<li>1 cốc cafe</li>
											<li>1 gói mì tôm</li>
										</ul>
										<a href="#" class="trial-button"> <span>Xác Nhận <i
													class="fas fa-chevron-right"></i></span> </a>
									</div> <!-- /.pr-table-wrapper -->
								</div>
								<div class="col-md-6">
									<div class="pr-table-wrapper active md-mb-30">
										<div class="pack-name">Momo</div>
										<div class="pack-details">Cảm Ơn bạn đã quan tâm</span></div>
										<div class="top-banner d-sm-flex justify-content-center align-items-center">
											
											<img src="/static/site/images/momo.jpg" size="50px" alt="" srcset="">
										</div> <!-- /.top-banner -->
										<ul class="pr-feature style-none">
											<li>1 cốc cafe</li>
											<li>1 gói mì tôm</li>
										</ul>
										<a href="/donate/paypal" class="trial-button"> <span>Xác Nhận <i
													class="fas fa-chevron-right"></i></span> </a>
									</div> <!-- /.pr-table-wrapper -->
								</div>
								
							</div>
						</div>

					</div> <!-- /.tab-content -->

					<div class="msg-note mt-80 lg-mt-50" data-aos="fade-up">If you Need any Custom or others Pricing
						System. <br> Please <a href="/contact">Send Message</a></div>
				</div>
			</div> <!-- /.pricing-table-area-one -->
		</div> <!-- /.pricing-section-one -->



		<!--
			=====================================================
				Pricing Section Two
			=====================================================
			-->
		<div class="pricing-section-two position-relative mt-150 mb-180 lg-mt-80 lg-mb-80">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-7 col-lg-6 col-md-8 m-auto">
						<div class="title-style-one text-center mb-20" data-aos="fade-up">
							<div class="sc-title-five">Pricing & Plan</div>
							<h2 class="main-title">No Hidden Cost. Choose your plan.</h2>
						</div> <!-- /.title-style-one -->
					</div>
				</div>
				<div class="pricing-table-area-two">
					<div class="row">
						<div class="col-xxl-10 m-auto">
							<div class="row justify-content-center">
								<div class="col-lg-4 col-sm-6" data-aos="fade-right">
									<div class="pr-table-wrapper tran3s mt-40">
										<div class="pack-name">Standard</div>
										<div class="price"><sup>$</sup>0</div>
										<ul class="pr-feature style-none">
											<li>1 Domain</li>
											<li>1 Year Premium Support</li>
											<li>Team fundraising</li>
										</ul>
										<a href="#" class="btn-seven w-100 mt-50">Choose Plan</a>
									</div> <!-- /.pr-table-wrapper -->
								</div>

								<div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-delay="100">
									<div class="pr-table-wrapper tran3s mt-40 active">
										<div class="pack-name">Gold</div>
										<div class="price"><sup>$</sup>27. <sup>99</sup></div>
										<ul class="pr-feature style-none">
											<li>1 Domain</li>
											<li>1 Year Premium Support</li>
											<li>Team fundraising</li>
										</ul>
										<a href="#" class="btn-seven w-100 mt-50">Choose Plan</a>
									</div> <!-- /.pr-table-wrapper -->
								</div>

								<div class="col-lg-4 col-sm-6" data-aos="fade-left">
									<div class="pr-table-wrapper tran3s mt-40">
										<div class="pack-name">Diamond</div>
										<div class="price"><sup>$</sup>39. <sup>99</sup></div>
										<ul class="pr-feature style-none">
											<li>1 Domain</li>
											<li>1 Year Premium Support</li>
											<li>Team fundraising</li>
										</ul>
										<a href="#" class="btn-seven w-100 mt-50">Choose Plan</a>
									</div> <!-- /.pr-table-wrapper -->
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xxl-5 col-xl-6 col-lg-7 m-auto">
							<p class="info mt-75 lg-mt-50" data-aos="fade-up">We've done it carefully and simply.
								Combined with the ingredients makes for beautiful landings.</p>
						</div>
					</div>
				</div> <!-- /.pricing-table-area-two -->
			</div>
			<img src="/static/site/images/shape/shape_34.svg" alt="" class="shapes shape-one">
		</div> <!-- /.pricing-section-two -->



		<!--
			=====================================================
				Footer
			=====================================================
			-->
		<%- include ('layout/footer') %>