<div class="footer-style-four theme-basic-footer">
    <div class="container">
        <div class="inner-wrapper">
            <div class="subscribe-area">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="title-style-four sm-pb-20">
                            <h4 class="main-title">Join Our <span>Newsletter</span> & Get updated.</h4>
                        </div> <!-- /.title-style-four -->
                    </div>
                    <div class="col-md-6">
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="email" placeholder="Enter your email">
                                <button class="ripple-btn tran3s">Subscribe</button>
                            </form>
                            <p>We only send interesting and relevant emails.</p>
                        </div> <!-- /.subscribe-form -->
                    </div>
                </div>
            </div> <!-- /.subscribe-area -->
            <div class="row">
                <div class="col-lg-4 footer-intro mb-40">
                    <div class="logo"><a href="/"><img src="/static/site/images/logo/logo_01.png" alt="" width="130"></a></div>
                    <p>Luôn học hỏi và cải tiến</p>
                    <ul class="d-flex social-icon style-none">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-4 ms-auto mb-30">
                    <h5 class="footer-title">Links</h5>
                    <ul class="footer-nav-link style-none">
                        <li><a href="/">Home</a></li>
                        <li><a href="/donate">Donate</a></li>
                        <li><a href="/about">Chúng Tôi</a></li>
                        <li><a href="/contact">Liên hệ</a></li>
                        <li><a href="/Chat">Chat</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-4 mb-30">
                    <h5 class="footer-title">Services</h5>
                    <ul class="footer-nav-link style-none">
                        <li><a href="#">Artificial Intelligence</a></li>
                        <li><a href="#">Data Analytics</a></li>
                        <li><a href="#">Data Visualization</a></li>
                        <li><a href="#">Deep Learning</a></li>
                        <li><a href="#">Statistical Modeling</a></li>
                    </ul>
                </div>
                <div class="col-xl-2 col-lg-3 col-sm-4 mb-30">
                    <h5 class="footer-title">Legal</h5>
                    <ul class="footer-nav-link style-none">
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Terms & conditions</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Cookie policy</a></li>
                    </ul>
                </div>
            </div>

            <div class="bottom-footer">
                <div class="d-lg-flex justify-content-between align-items-center">
                    <ul class="order-lg-1 pb-15 d-flex justify-content-center footer-nav style-none">
                        <li><a href="#">Privacy &amp; Terms.</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                    <p class="copyright text-center order-lg-0 pb-15">Copyright @2022 sinco inc.</p>
                </div>
            </div>
        </div> <!-- /.inner-wrapper -->
    </div>
</div> <!-- /.footer-style-four -->


<button class="scroll-top">
    <i class="bi bi-arrow-up-short"></i>
</button>




<!-- Optional JavaScript _____________________________  -->

<!-- jQuery first, then Bootstrap JS -->
<!-- jQuery -->
<script src="/static/site/vendor/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/static/site/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AOS js -->
<script src="/static/site/vendor/aos-next/dist/aos.js"></script>
<!-- Slick Slider -->
<script src="/static/site/vendor/slick/slick.min.js"></script>
<!-- js Counter -->
<script src="/static/site/vendor/jquery.counterup.min.js"></script>
<script src="/static/site/vendor/jquery.waypoints.min.js"></script>
<!-- Fancybox -->
<script src="/static/site/vendor/fancybox/dist/jquery.fancybox.min.js"></script>

<!-- Theme js -->
<script src="/static/site/js/theme.js"></script>
</div> <!-- /.main-page-wrapper -->
</body>
</html>