<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="Data Science, Analytics, Data, sass, software company">
		<meta name="description" content="Sinco - Data Science & Analytics HTML5 Template is designed especially for the agency, multipurpose and business and those who offer business-related services.">
      	<meta property="og:site_name" content="Sinco">
      	<meta property="og:url" content="https://heloshape.com/">
      	<meta property="og:type" content="website">
      	<meta property="og:title" content="Sinco - Data Science & Analytics HTML5 Template">
		<meta name='og:image' content='/static/site/images/assets/ogg.png'>
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- For Window Tab Color -->
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#913BFF">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#913BFF">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#913BFF">
		<title><%= title %> </title>
		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="/static/site/images/fav-icon/icon.png">
		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="/static/site/css/style.css" media="all">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="/static/site/css/responsive.css" media="all">

		<!-- Fix Internet Explorer ______________________________________-->
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="/static/site/vendor/html5shiv.js"></script>
			<script src="/static/site/vendor/respond.js"></script>
		<![endif]-->	
	</head>
